.newcollections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:100px;
  gap:10px;
  background-color: #fffdff;
}
 .newcollections h1 {
  color: #717171;
  font-size: 40px;
  font-weight: 600;
}
.newcollections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
} 
.collections {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap:50px; 
} 
.newletter h1{
    color:#454545;
    font-size:55px;
    font-weight:600;
}
.newletter p{
      color:#454545;
      font-size:20px;
}
.newletter div{
         display:flex;
         align-items:center;
         justify-content:space-between;
         background:white;
}